{% extends 'catalog/base.html' %}
{% load static %}
{{ title }}

{% block content %}
<div class="container">
    <p class="link-read-post"><a href="{{ cat.get_absolute_url }}">Смотреть все</a></p>
    <div class="row row-cols-3">
        {% for cat in categories %}
        <div class="col">
        {% if cat.id == 1 %}
            <p><img width="150" src= {% static "catalog/images/categories/TV.jpg" %}></p>
        {% elif cat.id == 2 %}
            <p><img width="150" src= {% static "catalog/images/categories/laptop.jpg" %}></p>
        {% endif %}
        <h4>{{ cat.name }}</h4><a href="#">Смотреть все</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}